APP_NAME=testprj
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://testprj.sulfurfun.ru

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BCRYPT_ROUNDS=12

APP_LOCALE=ru
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=ru_RU

# laravel 11
CACHE_DRIVER=redis
# laravel 12
CACHE_STORE=redis

SESSION_DRIVER=redis
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379

# Отдельная БД для сессий, соединиение default
REDIS_DB=0
# Отдельная БД для кеша (опционально)
REDIS_CACHE_DB=1

QUEUE_CONNECTION=database
# queue - название соединения из config/database.php
# подставляется в config/queue.php, чтобы дальше использвать для QUEUE_CONNECTION
REDIS_QUEUE_CONNECTION=queue

MAIL_MAILER=smtp
MAIL_HOST=smtp.yandex.ru
MAIL_PORT=587
MAIL_USERNAME=kovtunoff.tor@yandex.ru
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="kovtunoff.tor@yandex.ru"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME=testprj
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


# настроить config/trustedproxy.php в Laravel 10
# настроить config/trustedproxy.php и bootstrap/app.php в Laravel 11
TRUSTED_PROXIES=192.168.48.0/20,172.21.0.0/16

# настроить config/cors.php
FRONTEND_URL=https://fiontech.ru

# дата устаревания текущей версии API
DEPRECATION_DATE=2026-12-01

# админ по умолчанию, настроить config/app.php
ADMIN_NAME=drfoxg
ADMIN_EMAIL=drfoxg@gmail.com
ADMIN_PASSWORD=

#==================================================================
# overlay
#==================================================================
APP_ENV=local
APP_DEBUG=true

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_DATABASE=testprj_local
DB_USERNAME=postgres

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=file

SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_PREFIX=